.header {
}
.header .container {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  gap: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.nav-item {
}
.nav-link {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link-features:active {
  text-decoration: underline;
}
.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.contacts-item {
}
.contacts-info {
  padding: 24px 0;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts-info:hover,
.contacts-info:focus {
  line-height: 1.5;
  color: #404bbf;
}
