.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-item {
  background-color: #fff;
}
.team-ill {
}
.team-author {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-desc {
  text-align: center;
}
